h1{
    font-family: 'Bitter', serif;
    font-family: 'Libre Baskerville', serif;
}
h5{
   font-family: 'Space Grotesk', sans-serif;
}
body{
    background-color: thistle;
   
}
/*color-navbar*/
.navbar-light{
            background-color: purple;
        }
        .nav-link{
            color: white !important;
            font-style: oblique !important;

        }
        .nav-item{
            font-variant-position: super;
        }


.imagen-fondo{
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.3;
   
}
/*tarjetas*/
.card-img-top{
    height: 50vh;
}

button{
    background-color: lightpink;
    height: 125vh;
    font-family: 'Anton', sans-serif;
    font-size: large; 
  

}

.card{
    background-color: whitesmoke;
    font-family: 'Bitter', serif;
    font-family: 'Libre Baskerville', serif;
}

.p{
    font-family: 'Bitter', serif;
    font-family: 'Libre Baskerville', serif;  
}
.servicios{
    display: flex;
   
}
 .servicios>*{
    border: 1px solid black;
 }

 .item1{
     
 }



