<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
    <head> 
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body layout:fragment="body">
        <main  class="imagen-fondo-sec">
            <h1 class=" text-center">Generacion de Turnos</h1>
            <form th:action= "@{/turnos/generacionsec}" method="POST" th:object="${turno}" class="text-center border-form" style= "padding: 50px; border-radius: 100px; border: black solid">
                 <p th:if='${succes != null}' th:text="${succes}" style="color: green"></p>
                   <p th:if='${error != null}' th:text="${error}" style="color: red"></p>
                  <input hidden  th:field="${turno.codigo}" />
                        <h5>Datos personales</h5>
                        <br>
                        <input type="text"   placeholder="Nombres" th:field="${turno.paciente.usuario.nombre}"/>    <input type="text"   placeholder="Apellido" th:field="${turno.paciente.usuario.apellido}"/> <input type="text" placeholder="DNI" th:field="${turno.paciente.dni}" />
                        <input type="Date"   placeholder="Fecha de nacimiento" th:field="${turno.paciente.fechaDeNacimiento}" /> 
                        <br>
                        <br>
                        <h5>Datos de Contacto</h5>
                        <input type="text"   placeholder="Domicilio" th:field="${turno.paciente.domicilio}" />
                        <input type="text"   placeholder="Correo electronico" th:field="${turno.paciente.usuario.mail}"/>  
                        <br>
                        <br>
                        <h5>Obra Social</h5>
                        <input type="text"   placeholder="obra social" th:field="${turno.paciente.obraSocial}"/>
                        <input type="text"   placeholder="Numero de afiliado" th:field="${turno.paciente.numeroDeAfiliado}"/>
                        <input type="text"   placeholder="Numero grupo familiar" th:field="${turno.paciente.cantGrupoFamiliar}"/>
                        <input type="text"   placeholder="Plan" th:field="${turno.paciente.plan}"/>
                        <br>
                        <br>
                        <h5>Datos Para el Turno</h5>
                        <select type="text"  placeholder="Especialidad"  th:field="${turno.especialidad.nombre}" ><option th:each="especialidad : ${especialidades}" th:value="${especialidad}" th:text="${especialidad.nombre}"></option>
                   <option value="Cardiologia">Cardiologia</option>
                    <option value="Cirugía General">Cirugía General</option>
                    <option value="Dermatologia">Dermatologia</option>
                    <option value="Fonoaudiologia">Fonoaudiologia</option>
                    <option value="Gastroenterologia">Gastroenterologia</option>
                    <option value="Ginecologia">Ginecologia</option>
                    <option value="Medicina General">Medicina General</option>
                    <option value="Oftalmologia">Oftalmologia</option>
                    <option value="Pediatria">Pediatria</option></select>   <input type="text"  placeholder="Nombre medico" th:field="${turno.medico.usuario.nombre}"/>
                        <input type="date"   th:field="${turno.cita}"/> <input type="time"  placeholder="Horario" th:field="${turno.hora}"/> 
                        <br>
                        <br>
                        
                         <button class=" buttom-generarTurno">Generar Turno</button>
                         
                        
                
            </form>
        </main>
        
    </body>
</html>
