<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
    </head>


    <body layout:fragment="body">
        <div>
            <h1 class="hero-video__title">Nos mueve tu salud</h1>

            <video  autoplay muted  loop class="m-5 container-video " >
                <source th:src="@{/videos/HOSPITAL VIDEO SPOT PUBLICITARIO _ SERVICIOS MEDICOS CLINICA _ REDES SOCIALES _ EVERT FERNANDEZ.mp4}"/>
            </video>
        </div>
        <main >
            <section class="text-inicial" style="border-radius: 50px ">
                <h1 class="text-titulo-index" style="text-align: center">
                    Hospital group One
                </h1>
                <h3 style="text-align: center" >Nuestros centros médicos ambulatorios cuentan con prestigiosos 
                    profesionales,  cómodas instalaciones y la tecnología más
                    avanzada para brindarte siempre la mejor atención </h3>
                <section>
                    <div class="d-flex bd-highlight " >
                        <div class="p-2 flex-fill bd-highlight" style="text-align: center"><image th:src="@{/img/atencionTelefonica.jpg}" style="height: 150px; width: 150px"  />
                            <br>
                            ORIENTACIÓN MÉDICA
                            <br>
                            TELEFÓNICA 24hs.
                            <br>
                            0800-XXXX-XXXX (CABA)
                            <br>
                            0800-XXXX-XXXX (Int del país)
                       
                        </div>
                        <div class="p-2 flex-fill bd-highlight" style="text-align: center"><image th:src="@{/img/ambulacia.jpg}" style="height: 120px; width: 120px" />
                            <br>
                            URGENCIAS y
                            <br>
                            EMERGENCIAS
                            <br>
                            0800-XXX-XXXX 
                        </div>
                        <div class="p-2 flex-fill bd-highlight" style="text-align: center"><image th:src="@{/img/maletin.jpg}" style="height: 150px; width: 150px" />
                            <br>
                            ATENCIÓN DE
                            <br>
                            VENTAS
                            <br>
                            0810-XXX-XXXX
                        </div>
                    </div>
                </section>

            </section>
            
            <div class=" d-flex">
                <form action="/front/solicitarTurno">
                <button type="submit"  class="btn btn-warning"><a href="/front/solicitarTurno"></a>TURNOS</button>
               </form>
                <div class="contenedor-boton-turnos">
                    <p>Hola</p>
                    <ul class="animacion">
                        <li>Usuario</li>
                        <li>Solicita </li>
                        <li>Turno!</li>

                    </ul>
                </div>
            </div>

            <br>
            <section>
                <div>
                    <h3 class="novedades" style="text-align: center">Novedades</h3>

                    <div class="card text-center">
                        <div class="card-header">
                            <ul class="nav nav-pills card-header-pills">
                                <li class="nav-item">
                                    <a class="nav-link active" href="https://www.argentina.gob.ar/salud/coronavirus-COVID-19?utm_source=search&utm_medium=cpc&utm_campaign=coronavirus&utm_term=grants&utm_content=nacional&gclid=Cj0KCQjwyMiTBhDKARIsAAJ-9Vv5zgwVpd12tEM7PrsZh62I_jmGYd_YPWgW_FQGSKnzcS1y1wKxAY8aAtSFEALw_wcB">Covid 19</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="https://msptucuman.gov.ar/vacunacion-gratuita-contra-la-gripe/">Vacunacion antigripal</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body-index margin-card P-2 m-2">
                            <h5 class="card-title-index">Ultimas noticias Covid 19</h5>
                            <p class="card-text">Cuidados en informacion util.</p>
                            <a href="https://www.argentina.gob.ar/salud/coronavirus/cuidarnos" class="btn btn-primary">Leer mas info</a>
                        </div>
                    </div>
                </div>

            </section>
        </main>
    </body>

    <body>
        <div>TODO write content</div>
        <div> 
            <p> INDEX LOGRADO CON EXITO </p>
            <p th:if="${error != null}" th:text="${error}"> errorDEregistro </p>
            <p sec:authorize="isAuthenticated()">
                Logged user: <span sec:authentication="name">Bob</span> 
            </p>
            <p sec:authorize="isAuthenticated()">
            <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST">
                <input sec:authorize="isAuthenticated()" type="submit" value="Log out">
            </form>
        </p>
        <p sec:authorize="!isAuthenticated()">
            <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
        </p>

        <p> Bienvenido <span sec:authentication="name">Bob</span>  </p>
        <p th:if="${mail != null}" th:text="${mail}"></p>

        <img sec:authorize="isAuthenticated()" th:if="${session.usuario != null and session.usuario.foto != null}" th:src="@{/foto/usuario(idUsuario=${session.usuario.id})}" alt="Foto Del Perfil Del Usuario"> 
        <img sec:authorize="isAuthenticated()" th:if="${session.usuario != null and session.usuario.foto == null}" th:src="@{/img/perfil-generico.png}" alt="Foto Del Perfil Del Usuario"> 
        <!--esto es para mostrar imagen por sesion-->
    </div>


</body>

</html>
