<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>TODO write content</div>
        <div> 
            <p> INDEX LOGRADO CON EXITO </p>
            <p th:if="${error != null}" th:text="${error}"> errorDEregistro </p>
            <p sec:authorize="isAuthenticated()">
                Logged user: <span sec:authentication="name">Bob</span> 
            </p>
            <p sec:authorize="isAuthenticated()">
            <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST">
                <input sec:authorize="isAuthenticated()" type="submit" value="Log out">
            </form>
        </p>
        <p sec:authorize="!isAuthenticated()">
            <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
        </p>

        <p> Bienvenido <span sec:authentication="name">Bob</span>  </p>
        <p th:if="${mail != null}" th:text="${mail}"></p>

        <img sec:authorize="isAuthenticated()" th:if="${session.usuario != null and session.usuario.foto != null}" th:src="@{/foto/usuario(idUsuario=${session.usuario.id})}" alt="Foto Del Perfil Del Usuario"> 
        <img sec:authorize="isAuthenticated()" th:if="${session.usuario != null and session.usuario.foto == null}" th:src="@{/img/perfil-generico.png}" alt="Foto Del Perfil Del Usuario"> 
        <!--esto es para mostrar imagen por sesion-->
    </div>


</body>
</html>
