<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" >
    <head>
        <title>Especialidades</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body layout:fragment="body" >
        <header class="imagen-fondo-sec">
            <h2 style="text-align: center">Lista de especialidades y horarios medicos a disposicion</h2>
            <p style="font-size: larger; text-align: center">Antes de asistir al centro medico le recomendamos <a href="/front/solicitarTurno">Solicitar un turno</a> a travez del portal web 
                o llamando al telefono 08008889999</p>
        </header>


        <div d-flex>

            <main style="background-color: white !important" >
                <nav class="navbar navbar-light bg-light " >
                    <div class="container-fluid">
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit" style="background-color: #e4b9b9 ; color: blueviolet">Buscar </button>
                        </form>
                    </div>
                </nav>




                <form class="d-flex justify-content-evenly">
                    <div class="mx-4" >
                        <div class="row g-3 mb-3">
                            <label style="font-family: sans-serif; font-size: larger">Cardiologia</label>
                            <input class="p-2 bd-highlight" type="datetime-local" name="Cardiologia" />
                        </div>
                        <div class="row g-3 mb-3">
                            <label style="font-family: sans-serif; font-size: larger">Medicina general</label>
                            <input  class="p-2 bd-highlight" type="datetime-local" name="Medicina general" placeholder="Medicina general">
                        </div>
                        <div class="row g-3 mb-3">
                            <label style="font-family: sans-serif;  font-size: larger">Cirugia General</label>
                            <input class="p-2 bd-highlight" type="datetime-local" name="Cirugia general" placeholder="Cirugia General">
                        </div>
                        <div class="row g-3 mb-3">
                            <label style="font-family: sans-serif; font-size: larger">Dermatologia</label>
                            <input class="p-2 bd-highlight" type="datetime-local" name="Dermatologia" placeholder="Dermatologia">
                        </div>
                        <div class="row g-3 mb-3">
                            <label style="font-family: sans-serif; font-size: larger">Fonoaudiologia</label>
                            <input class="p-2 bd-highlight" type="datetime-local" name="Fonoaudiologia" placeholder="Fonoaudilogia">
                        </div>
                    </div>
                    <div class="mx-4" >
                        <div class="row g-3 mb-3">
                            <label style="font-family: sans-serif;  font-size: larger">Gastroenterologia</label>
                            <input class="p-2 bd-highlight" type="datetime-local" name="Gastroenterologia" placeholder="Gastroenterologia"/>
                        </div>
                        <div class="row g-3 mb-3">
                            <label style="font-family: sans-serif; font-size: larger">Ginecologia</label>
                            <input class="p-2 bd-highlight" type="datetime-local" name="Ginecologia" placeholder="Ginecologia">
                        </div>
                        <div class="row g-3 mb-3">
                            <label style="font-family: sans-serif;  font-size: larger">Oftalmologia</label>
                            <input class="p-2 bd-highlight" type="datetime-local" name="Oftalmologia" placeholder="Oftalmologia">
                        </div>
                        <div class="row g-3 mb-3">
                            <label style="font-family: sans-serif;  font-size: larger">Pediatria</label>
                            <input class="p-2 bd-highlight" type="datetime-local" name="Pediatria" placeholder="Pediatria">
                        </div>
                        <div class="row g-3 mb-3">

                            <a  href="/front/solicitarTurno" >Solicitar turno</a>
                            
                        </div>





                    </div>
                </form>
        </div>
    </section>
</main>
</body>
</html>
