<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
    
    <head>
    </head>
    <body layout:fragment="body">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">A cerca de</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Gestion de citas</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <main class="justify-content-center d-flex" layout:fragment="main">

            <div>
                <form>

                    <h1>Ingreso al portal de Salud</h1>
                    <div style = "text-align: left">

                        <div>
                            <label for="email">Correo electronico</label>
                        </div>

                        <div class="user">
                            <label for="password">Contraseña</label>
                        </div>

                        <div class="user">

                        </div>
                </form>
            </div>

            <div class="justify-content-center">
                <image th:src="@{/img/doctor-portal.jpg}"
            </div>            
        </main>

        <br>
        <button>Ingresar</button>

    </form>             
</div>

</body>
</html>


