<!DOCTYPE html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body layout:fragment="body">
        <main  class="imagen-fondo-sec">
            <section class="servicios justify-content">
                <div class="item1 align-items-stretch d-flex w-50">
                   <h3>
                    Bienvenidos al Hospital de Día Group 1
                   </h3> 
                   <p>
                    Somos más que un Centro Médico Ambulatorio,
                    <br>somos un Hospital de Día, contamos con un gran
                    <br>número de Especialidades Médicas, así como una de
                    <br>las Unidades de Diagnóstico por imagen con la mayor
                    <br>y mejor dotación tecnológica. Nuestros quirófanos
                    <br>ambulatorios realizan todo tipo de cirugías de 
                    <br>diferentes especialidades que no precisen pernocta.
                   </p>
                        
                </div> 
                <div class="imagen-fondo w-50">
                    <div class="d-flex align-items-stretch">
                        <image th:src="@{/img/Salud.jpg}"/>;
                    </div>

                </div>

                             
                
            
</section>
        </main>
    </body>
</html>
