<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
    <head>
        <title>TODO supply a title</title >
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
    </head>
    <body layout:fragment="body">
        <div  >
            <h1 class="tituloTurno m-5" style="text-align: center" >Solicitud de Turnos</h1>
            <form class="form-horizontal" role="form" action="#" th:action="@{/solicitar}" th:object="${user}" method="post">
                <div class="Turnos margin-card "  style="text-align: center; padding: 50px;margin: 50px; border-bottom-left-radius: 100px; border-bottom-right-radius: 100px; border: black solid ">
                    <h3><label style="background-color: lightgray;">Fecha del Turno</label></h3> 
                    <input type="Date" name="Fecha" placeholder="Fecha">
                    <h3><label style="background-color: lightgray;">Hora</label></h3> 
                    <input type="time" name="Hora" placeholder="Hora">
                    <h3><label style="background-color: lightgray;">Especialidad</label></h3> 
                    seleccione una especialidad
                    <select class="" name="especialidades">
                    <option value="Cardiologia">Cardiologia</option>
                    <option value="Cirugía General">Cirugía General</option>
                    <option value="Dermatologia">Dermatologia</option>
                    <option value="Fonoaudiologia">Fonoaudiologia</option>
                    <option value="Gastroenterologia">Gastroenterologia</option>
                    <option value="Ginecologia">Ginecologia</option>
                    <option value="Medicina General">Medicina General</option>
                    <option value="Oftalmologia">Oftalmologia</option>
                    <option value="Pediatria">Pediatria</option>
                          </select> 
                  
                </div>
            </form>
            <center><button style="height: 50px; width: 100px" th:if=""> Solicitar</button></center>
            <br>
        </div>
    </body>
</html>
